.language-flag {
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.language-flag-wrap {
  padding-left: 5px;
  padding-right: 5px;
}

.account-name {
  color: darkgreen;
}

.pointer {
  cursor: pointer;
}
.z-1000{
  z-index: 1000 !important;
}
