<h1 mat-dialog-title>{{'label.choose.leader' | translate}} {{khoi.name}}</h1>
<div mat-dialog-content>
  <div class="example-container">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox [disabled]="true"></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            aria-label=""
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null; onChangeSelect($event)"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>{{'employee.lastName' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="midName">
        <mat-header-cell *matHeaderCellDef>{{'employee.midName' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.midName}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>{{'employee.firstName' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="department.name">
        <mat-header-cell *matHeaderCellDef>{{'employee.department' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.department.name}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               [class.chosen]="selection.isSelected(row)">

      </mat-row>
    </mat-table>
  </div>

</div>
<pagination *ngIf="pagingData.totalPages > 0"
            [totalItems]="pagingData.total"
            [(ngModel)]="pagingData.page"
            [maxSize]="pagingData.pageSize"
            class="pagination-sm pt-3"
            [boundaryLinks]="true"
            [rotate]="false"
            (numPages)="numPages = $event"
            previousText="{{'button.previous' | translate}}"
            nextText="{{'button.next' | translate}}"
            firstText="{{'button.first' | translate}}"
            lastText="{{'button.last' | translate}}"
            (pageChanged)="pageChanged($event)"
            align="right">
</pagination>
<div mat-dialog-actions class="d-flex justify-content-center">
  <button mat-raised-button (click)="onNoClick()">{{'button.close'| translate}}</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="selectedEmployee" cdkFocusInitial
          [disabled]="!selection.hasValue()"> {{'button.agree' | translate}}
  </button>
</div>
