<button type="button" class="btn btn-sm btn-info" (click)="onClickView()"
        data-toggle="tooltip" title="Xem thông tin chi tiết">
  <i class="fa fa-eye" aria-hidden="true"></i>
</button>

<button type="button" class="btn btn-sm btn-warning" (click)="onClickUpdate()"
        data-toggle="tooltip" title="Chỉnh sửa">
  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</button>

<button type="button" class="btn btn-sm btn-danger" (click)="onClickDelete()"
        data-toggle="tooltip" title="Xóa">
  <i class="fa fa-trash-o" aria-hidden="true"></i>
</button>
