<button type="button" class="btn btn-sm btn-info badge badge-info" (click)="onClickView()"
        data-toggle="tooltip" title="Xem thông tin chi tiết">Xem
  <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
</button>

<button type="button" class="btn btn-sm btn-warning  badge badge-warning" (click)="onClickUpdate()"
        data-toggle="tooltip" title="Chỉnh sửa">Sửa
  <!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
</button>

<button type="button" class="btn btn-sm btn-danger  badge badge-danger" (click)="onClickDelete()"
        data-toggle="tooltip" title="Xóa">Xóa
  <!--<i class="fa fa-trash-o" aria-hidden="true"></i>-->
</button>
