<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <app-breadcrumb [items]="breadcrumb" class="align-self-center"></app-breadcrumb>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive-sm">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">{{'no' | translate}}</th>
          <th scope="col">{{'action' | translate}}</th>
          <th scope="col">{{'khoi.name' | translate}}</th>
          <th scope="col">{{'khoi.leader.name' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let khoi of khois; let index = index">
          <td scope="row">{{index + 1}}</td>
          <!--action-->
          <td class="btn-action-khoi">
            <button
              type="button" class="btn btn-sm btn-default badge badge-primary"
              (click)="openDialog(index)">{{'button.choose.leader' | translate}}
            </button>
            <button type="button" class="btn btn-sm btn-danger  badge badge-danger" (click)="onClickDelete(index)"
                    data-toggle="tooltip" title="Xóa">{{'button.delete' | translate}}
            </button>
          </td>

          <td>{{khoi.name}}</td>

          <td>
            <span *ngIf="khoi.leaderId && khoi.leader">{{khoi.leader.lastName}} {{khoi.leader.midName}} {{khoi.leader.firstName}}</span>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


